{
    "firebase": {
    apiKey: "AIzaSyCT-hG5_-Dm4mFpY7eFfQF8XAPOIlENpXI",
    authDomain: "drygonprod.firebaseapp.com",
    databaseURL: "https://drygonprod.firebaseio.com",
    projectId: "drygonprod",
    storageBucket: "drygonprod.appspot.com",
    messagingSenderId: "829435435228"
  },
  "config": {
      "token": "1/Vdyp2WFVtF0qq1y00q-XQhRcfpdeF1J5xTP9WkXygpc",
      "project": "drygonprod"
  },
"gmail": {
    "email": "drygon.web@gmail.com",
    "password": "Dryg0n1722g"
}
}