
body {
  margin-top: 6.5rem;
  padding: 0; 
  line-height: 1.8rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0; 
  padding-left: 1rem;
}


.container-fluid {
  margin: 0;
  padding: 0;
}

.contact, #aboutus {
  margin-top: 2rem;
  margin-bottom: 0rem;
  padding: 1rem;

}

.bg-grey {
  background-color: #f6f6f6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
}

.header {
  font-family: 'Poppins', sans-serif;
}

.navbar-nav {
  margin-left: 1rem;
}

.nav li {
  margin-right: 15px;
  list-style-type: none;
}

.active {
  color: #a90329 ;
}
/*--- Content ---*/

.content {  
  padding: 2rem 1rem 2rem 1rem;
}

.content .row {  
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-title , .card-subtitle {
  text-align: center;
}

/*---Transmittal---*/

#transmittal h2 {
  margin-bottom: 2rem;
}

#transmittal ul {
  margin-bottom: 2rem;
}

#terms {
  margin-bottom: 3rem;
  line-height: 2rem;
}

#transmittal-form button {
  object-position: center;
}
/*---Page404---*/
#page404 {
  margin-top: 2rem;
  text-align: center;
}

#page404 button {
  text-align: center;
}
#page404 button span {
  margin-right: 1rem;
}

/*--- Footer ---*/
.footer { 
  padding: 4rem 0; 
  margin-top: 4rem;
  display: inline-block; 
  line-height: 20px;
  background: #1c384e;
  color: #a9b2c0;
  font-family: 'Poppins', sans-serif;
}

.footer h2 { 
  text-align: center;
  color: #a9b2c0;
  text-transform: uppercase;  
}

.footer ul {
  list-style: none;
  display: inline-block;
}
/* Copyright */

	.copyright {
		display: inline-block;	
    text-align: center;	
    margin-top: 1rem;    
	}

  .copyright li, .copyright a {
    color: #a9b2c0;
  }

  .copyright a {
    font-size: 18px;
  }

  .copyright li a:hover {
    color: #DA2713;
  }

/* Icons */
.icon > .label {
			display: none;
		}

ul.contact {
		cursor: default;    
	}

ul.contact li {
			-moz-transition: top .15s ease-in-out;
			-webkit-transition: top .15s ease-in-out;
			-ms-transition: top .15s ease-in-out;
			transition: top .15s ease-in-out;			
			display: inline-block;
			margin: 0 0.25rem 0 0.25rem;		
		}

ul.contact li a {
				-moz-transition: background-color .2s ease-in-out;
				-webkit-transition: background-color .2s ease-in-out;
				-ms-transition: background-color .2s ease-in-out;
				transition: background-color .2s ease-in-out;
				display: block;
				position: relative;
				width: 48px;
				height: 48px;
				border-radius: 6px;
				outline: 0;
				background: #c1cac5;
				text-align: center;
			}

				ul.contact li a:before {
					color: #f2f5f3;
					font-size: 32px;
					line-height: 48px;
				}

			ul.contact li:hover {
				top: -5px;
			}
      ul.contact li:hover a.fa-linkedin {
					background-color: #006599;
				}
ul.contact li:hover a.fa-youtube {
					background-color: #DA2713;
				}
ul.contact li:active {
				top: 0;
			}


/*---End of Copyright---*/
/*Jumbotron*/
  .jumbotron {  
     position: relative;     
     background:url("./images/background.jpg") no-repeat center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     vertical-align: top;
     width: 100%;
     height: auto;        
  }
.jumbotron > .container-fluid {    
    padding: 3rem 2rem;	
	  background-color: rgba(159, 83, 166, 0.2);	
    text-align: center;       
 }
 /*---End Jumbotron---*/

/*---Contact page---*/
.contact {
  text-align: center;
}

/*---Grid area---*/
.sidebar {
  grid-area: sidebar;
}

.banner {
  grid-area: banner;
}
.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.content-wrapper { 
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:   
    "banner banner banner banner"
    "content content content content"    
    "footer footer footer footer"
}  


@media only screen and (max-width: 728px) {
.content-wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
 grid-template-rows: auto;
 grid-template-areas:   
    "banner"    
    "content"
    "footer"
} 

body {
  margin-top: 7rem;
  
}
.navbar-nav {
  margin-left: 1rem;
  padding-top: .425rem;
  padding-left: 0.75rem;
}

.navbar-nav .nav-item {
  float: none;
}

#header-logo {
  float: left;
}

.navar-brand, .navbar-nav .nav-item {
  display: block;
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 0;
}

.dropdown-menu {
  position: relative;
  float: none;
}

.sidebar { 
  flex-direction: row; 
}
.sidebar a {
  margin-right: 1rem;
  z-Index: 2;
}
}


/*---End Grid area---*/